numpy
requests
matplotlib
scipy
photutils
pytest
pytz

# Imaging
Pillow 
mahotas
opencv-python

# Astronomy
alpyca
skyfield
starplot
git+https://github.com/esa/tetra3.git

# Cedar dependencies
grpcio
google
protobuf